*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 600px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
h2{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background: #FFF;
    font-size: 150px;
    font-size: 11vw;
    line-height: 35vh;
    mix-blend-mode: screen;
    font-family: Poppins;
}
span{
    color: #FFF;
}
main{
    position: relative;
    width: 100%;
    height: auto;
    background-color: blueviolet;
    position: relative;
    text-align: center;
}
section{
    width: 100%;
    height: auto;
    padding: 50px;
}
section img{
    width: 250px;
    height: auto;
/*    position: absolute;*/
    margin: 20px;
    position: sticky;
    top: 0;
}
/*
.kaire{
    left: 0;
}
.desine{
    right: 0;
}
*/
p{
    width: 30%;
    height: auto;
    margin: 30px auto;
    font-family: 'Dancing Script', cursive;
    color: #FFF;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
h3{
    width: 30%;
    font-family: 'Dancing Script', cursive;
    margin: 30px auto;
    color: coral;
    font-size: 8vw;
    position: relative;
    z-index: 1;
}
footer{
    width: 100%;
    height: 250px;
    background-image: url(Photos/hart.png);
    background-repeat: repeat;
    background-position: bottom;
    background-size: contain;
    padding: 5px;
}
footer p{
    color: black;
    text-align: center;
    margin-top: 50px;
}